In [1]:
# 4

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("illiteracy.txt", sep="\t")
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [6]:
from scipy import stats

In [8]:
round(stats.pearsonr(data.Illit, data.Births)[0], 4)

0.7687

In [9]:
# 5

In [12]:
round(stats.spearmanr(data.Illit, data.Births)[0], 4)

0.753