In [1]:
# 2

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("AUCs.txt", sep="\t")
data.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [16]:
data.describe()

            C4.5     C4.5+m    C4.5+cf  C4.5+m+cf
count  14.000000  14.000000  14.000000  14.000000
mean    0.804929   0.820429   0.808786   0.827214
std     0.160187   0.158583   0.167566   0.154548
min     0.583000   0.583000   0.563000   0.569000
25%     0.636250   0.666500   0.624000   0.673000
50%     0.828500   0.863000   0.876000   0.886500
75%     0.950500   0.968750   0.960250   0.965750
max     1.000000   1.000000   1.000000   1.000000

In [8]:
import itertools
from scipy import stats

In [15]:
methods = ["C4.5", "C4.5+m", "C4.5+cf", "C4.5+m+cf"]
rez = [
    (col1, col2, stats.wilcoxon(data[col1], data[col2]).pvalue) 
    for col1, col2 in itertools.combinations(methods, 2)
]
rez = sorted(rez, key=lambda x: x[2])
rez

[('C4.5', 'C4.5+m', 0.01075713311978963),
 ('C4.5', 'C4.5+m+cf', 0.015906444101703374),
 ('C4.5+cf', 'C4.5+m+cf', 0.022909099354356588),
 ('C4.5+m', 'C4.5+cf', 0.046332729793395394),
 ('C4.5+m', 'C4.5+m+cf', 0.3278256758446406),
 ('C4.5', 'C4.5+cf', 0.861262330095348)]

In [19]:
# 3

In [30]:
pvalues = [i[2] for i in rez]

In [31]:
len(list(filter(lambda x: x < 0.05, pvalues)))

4

In [26]:
# 5

In [27]:
from statsmodels.stats import multitest

In [32]:
multitest.multipletests(
    pvalues, 
    alpha=0.05, 
    method="holm"
)

(array([False, False, False, False, False, False]),
 array([0.0645428 , 0.07953222, 0.0916364 , 0.13899819, 0.65565135,
        0.86126233]),
 0.008512444610847103,
 0.008333333333333333)

In [33]:
# 6

In [34]:
multitest.multipletests(
    pvalues, 
    alpha=0.05, 
    method="fdr_bh"
)

(array([ True,  True,  True, False, False, False]),
 array([0.0458182 , 0.0458182 , 0.0458182 , 0.06949909, 0.39339081,
        0.86126233]),
 0.008512444610847103,
 0.008333333333333333)