In [1]:
# 1

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("water.txt", sep="\t")
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [4]:
from scipy import stats

In [6]:
round(stats.pearsonr(data.mortality, data.hardness)[0], 4)

-0.6548

In [7]:
# 2

In [8]:
round(stats.spearmanr(data.mortality, data.hardness)[0], 4)

-0.6317

In [12]:
# 3

In [10]:
round(stats.pearsonr(data.mortality[data.location == "South"], data.hardness[data.location == "South"])[0], 4)

-0.6022

In [11]:
round(stats.pearsonr(data.mortality[data.location == "North"], data.hardness[data.location == "North"])[0], 4)

-0.3686

In [14]:
# 4

In [83]:
a = 203; b = 239
c = 718; d = 515

In [30]:
mcc = (a * d - b * c) / ((a + b) * (a + c) * (b + d) * (c + d)) ** 0.5
round(mcc, 3)

-0.109

In [27]:
# 5

In [31]:
stats.chi2_contingency([[a, b], [c, d]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [32]:
# 6 ???

In [84]:
wf = a / (a + c)
wm = b / (b + d)
w = (a + b) / (a + b + c + d)
wf, wm, w

(0.22041259500542887, 0.3169761273209549, 0.2638805970149254)

In [85]:
s = (w * (1 - w) * (1 / (a + c) + 1 / (b + d))) ** 0.5
s

0.02164560750679219

In [92]:
ss = (wf * (1 - wf) / (a + c) + wm * (1 - wm) / (b + d)) ** 0.5
ss

0.021764838250190374

In [93]:
round((wm - wf) - stats.norm.ppf(1 - 0.05 / 2) * ss, 4)

0.0539

In [79]:
# 7

In [89]:
(1 - stats.norm().cdf((wm - wf) / s)) * 2

8.153453089576601e-06

In [55]:
# 8

In [63]:
table = [[197, 111, 33], [382, 685, 331], [110, 342, 333]]

In [64]:
round(stats.chi2_contingency(table)[0], 4)

293.6831

In [61]:
# 9

In [65]:
stats.chi2_contingency(table)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [ ]:
# 10

In [67]:
import numpy as np

In [70]:
round((stats.chi2_contingency(table)[0] / np.sum(table) / (3 - 1)) ** 0.5, 4)

0.2412