In [13]:
import pandas as pd
from scipy.stats import t

In [5]:
data = pd.read_csv("water.txt", sep="\t")

In [7]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [22]:
def lower_bound(data, a):
    mean = data.mean()
    std = data.std(ddof=1)
    return round(mean + t.ppf(a, len(data) - 1) * std / len(data) ** 0.5, 4)

In [23]:
lower_bound(data.mortality, 0.05 / 2)

1476.0833

In [24]:
lower_bound(data.mortality[data.location == "South"], 1 - 0.05 / 2)

1433.4636

In [25]:
lower_bound(data.mortality[data.location == "South"], 0.05 / 2)

1320.1517

In [26]:
lower_bound(data.mortality[data.location == "North"], 1 - 0.05 / 2)

1680.6395

In [27]:
lower_bound(data.mortality[data.location == "North"], 0.05 / 2)

1586.5605

In [28]:
lower_bound(data.hardness[data.location == "South"], 1 - 0.05 / 2)

86.0713

In [29]:
lower_bound(data.hardness[data.location == "South"], 0.05 / 2)

53.4672

In [30]:
lower_bound(data.hardness[data.location == "North"], 1 - 0.05 / 2)

39.3775

In [31]:
lower_bound(data.hardness[data.location == "North"], 0.05 / 2)

21.4225

In [32]:
from scipy.stats import norm

In [37]:
((norm.ppf(1 - 0.05 / 2) / 0.1)) ** 2

384.14588206941244